#policy{
  text-align: center;
  color: #333333;
  margin-top: 30px;
  transition: color 1s;
  font-size: 50px;
}

.about-block {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 30px;
  border-radius: 30px;
}

#riba-text{
  color: #333333;
  font-size: 20px;
  transition: color 1s;
  display: inline-block;
}

#values{
  text-align: center;
  color: #333333;
  margin-top: 30px;
  transition: color 1s;
  font-size: 50px;
}

#values-text{
  color: #333333;
  font-size: 20px;
  transition: color 1s;
  display: inline-block;
}

.handsome-riba {
  border: 5px solid #333333;
  border-radius: 16px;
  width: 400px;
  height: 300px;
  display: inline-block;
  margin: 30px;
}

#promise{
  text-align: center;
  color: #333333;
  margin-top: 30px;
  transition: color 1s;
  font-size: 50px;
}

#promise-text{
  color: #333333;
  font-size: 20px;
  transition: color 1s;
  display: inline-block;
}

@media only screen and (max-width: 1300px) {
  
  @media only screen and (max-width: 840px) {
    .about-block {
      flex-direction: column;
    }
    #riba-text{
      margin-bottom: 40px;
    }
  }
}