.light-shadow:hover {
  box-shadow: -4px 4px #585858;
}
.light-shadow:active {
  box-shadow: -2px 2px #585858;
}

.light-button{
  color: #333333;
  background-color: #ebebeb;
  transition: color 0.3s, background-color 0.5s;
}

.dark {
  background-color: #333333;
  transition: color 0.3s, background-color 0.5s;
}

#policy-text.light-text {
  color: #ebebeb;
}
#policy.light-text {
  color: #ebebeb;
}

#values-text.light-text {
  color: #ebebeb;
}
#values.light-text {
  color: #ebebeb;
}

#promise-text.light-text {
  color: #ebebeb;
}
#promise.light-text {
  color: #ebebeb;
}