* {
  font-family: 'Trebuchet MS';
}

html{
  height: 100%;
}
body {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  transition: color 0.3s, background-color 0.5s;
}

#content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

#shrek {
  height: 300px;
  user-select: none;
}

#pork {
  width: 75px; 
  border-radius: 100%;
  cursor: pointer;
  vertical-align: auto;
  display: inline-block;
  margin-right: 20px;
}

#pork:hover {
  box-shadow: 0px 2px 2px #242424;
}

#pork:active {
  box-shadow: 0px 1px 1px #242424;
}

.color-button {
  color: #ffffff;
  background-color: #333333;
  padding: 10px 18px 10px 18px;
  border: none;
  transition: transform 0.15s, box-shadow 0.15s;
  transform: translateX(0);
  transform: translateY(0);
  border-radius: 20px;
  margin: 0 auto 10px 20px;
  position: relative;
  font-weight: bold;
  display: block;
  cursor: pointer;
}

#blue-button {
  background-color: #5483aa;
  padding: 10px 16px 10px 16px;
}

#green-button {
  background-color: #27e99e;
  padding: 10px 12px 10px 12px;
}

#red-button {
  background-color: #eb364b;
  padding: 10px 12px 10px 12px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinning {
  animation: spin 0.5s ease-in-out;
}

.button {
  transition: transform 0.15s, box-shadow 0.15s;
  transform: translateX(0);
  transform: translateY(0);
  transition: color 0.3s, background-color 0.5s;
}
.button:hover {
  box-shadow: -4px 4px #242424;
  transform: translateX(2px) translateY(-2px);
}
.button:active {
  box-shadow: -2px 2px #242424;
  transform: translateX(-1px) translateY(1px);
}

#buttons{
  display: inline-block;
}
#pork-container{
  display: inline-block;
}
#welcome {
  display: inline-block;
  font-size: 40px;
  font-weight: 900;
  background: linear-gradient(to right, #218bff, #c084fc, #db2777);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  color: transparent;
  margin-left: 20px;
  flex-grow: 1;
}
#welcome-bar{
  display: flex;
  width: 100%;
  background-color: #dfdfdf;
  justify-content: flex-start;
  align-items: center;
  transition: color 0.3s, background-color 0.5s;
}
